ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.FrameList {
  width: 390px;
  height: 760px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

.FrameList button {
  border: 1px solid var(--, #009eff);
}

.newFrame {
  width: 340px;
  height: 50px;
  margin-top: 20px;
  color: #009eff;
  background-color: #ffffff;
  border-radius: 10px;
  border-color: #009eff;
}

.FrameScroll {
  height: 619px;
}

.InfoMsg {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.FrameUl {
  height: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; /* 너비를 넘어가면 다음 줄로 넘어감 */
}

.FrameUl::-webkit-scrollbar {
  display: none;
}

.FrameItem {
  width: calc(40% - 10px);
  gap: 10px;
  margin: 20px 10px 0px 10px;
}

.FrameItem button {
  background-color: #f7f7f7;
  border: none;
  height: auto;
}

.FrameImage {
  width: 60%;
  height: auto;
}
