.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  gap: 20px;
}
.linkBtn {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border: none;

  img {
    width: 50%;
    height: 50%;
    display: inline-flex;
  }
}
button {
  width: 50vw;
  height: 46px;
  background-color: #009EFF;
  border: none;
  border-radius: 50px;
  color: white;
  font-size: 14px;
}
.frameBtn {
  background-color: #C4CAD4;
  color: black;
  font-weight: 500;
}