.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  width: 100%;
}
.logoBtn {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border: none;
  margin-bottom: 100px;

  img {
    width: 50%;
    height: auto;
    display: inline-flex;
  }
}
.linkBtn_container{
  width: 100%;
}
.logoutBtn,
.loginBtn {
  width: 50%;
  height: 45px;
  background-color: #009eff;
  border: none;
  border-radius: 50px;
  color: white;
  font-size: 14px;
  font-weight: 600;
  margin-top: 10px;
}
