.wrapper {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.section1 {
  width: 100vw;
  height: 12vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: white;
  border-bottom: 1.5px solid rgba(0, 0, 0, 0.06);
  p {
      font-family: Pretendard;
    margin-left: 18px;
    margin-top: 22px;
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
    text-align: start;
  }
}

.section2 {
  height: 58vh;
  background-color: #DCF2FF;
  img {
    height: 58vh;
    width: auto;
  }
}

.section3 {
  height: 21vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: white;
  :nth-child(1) {
    margin-right: 72px;
  }
  .buttonBox {
    width: 72px;
    height: 89px;
    display: flex;
    flex-direction: column;
    button {
      width: 72px;
      height: 72px;
      border-radius: 15px;
      background: #F7F7F7;
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      img {
        width: 72px;
        height: 72px;
        margin: 0;
      }
    }
    p {
      color: #009EFF;
      text-align: center;
      font-family: Pretendard;
      font-size: 10px;
      font-weight: 700;
      line-height: normal;
    }
  }
}

.navBottom {
  width: 100vw;
  img {
    width: 100vw;
  }
}

.modal0 {
  display: none;
}
.modal1 {
  animation: fadeIn ease-in-out 1s;
  position: absolute;
  // box-shadow: 2px 4px 12px #cacaca;
  z-index: 2;
  width: 344px;
  height: 234px;
  top: 33vh;
  left: 6vw;
  background-color: url('../../img/memo-modal.png');
  background-size: cover; /* 이미지를 화면에 꽉 채우도록 조정 */
  background-position: center; /* 이미지를 가운데 정렬 */
  background-repeat: no-repeat; /* 이미지 반복 방지 */
  .memoModal {
    width: 88vw;
    height: auto;
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
  }
  .modalBox {
    width: 88vw;
    height: 28vh;
    position: absolute;
    z-index: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    .emojiBox {
      width: 66vw;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-top: -20px;
    }
    textarea {
      width: 66%;
      height: 43%;
      padding: 10px;
      margin-top: 0px;
      color: #000;
      text-align: center;
      font-family: "SUIT Variable", -apple-system, BlinkMacSystemFont, Pretendard, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: normal;
      outline: none;
      border: none;
      border-radius: 14px;
      white-space: pre-wrap;
      background-color: #f8f8f8;
      resize: none;
      &:focus {
        border: 1px solid #009EFF;
      }
    }
    .saveBtn {
      width: 45px;
      height: 24px;
      font-size: 18px;
      margin-bottom: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      background-color: #009EFF;
      border: none;
      border-radius: 19px;
      cursor: pointer;
      text-align: center;
      font-family: Pretendard;
      font-size: 12px;
      font-weight: 400;
    }
  }
}

.modalBG1 {
  animation: fadeIn2 ease-in-out 1s;
  z-index: 1;
  width: 100vw;
  height: 1100vh;
  position: absolute;
  background-color: rgba(0, 40, 64, 0.60);
  // opacity: 40%;
  top: 0px;
  left: 0px;
}
.modalBG0 {
  display: none;
}
