body {
  margin: 0px;
  padding: 0px;
}

.MakeFrame {
  width: 390px;
  height: calc(var(--vh, 1vh) * 100);
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  overflow-y: hidden;
}

.MakeFramebox {
  width: 390px;
  height: calc(var(--vh, 1vh) * 100);
  display: flex;
  flex-direction: column;
}

.Top {
  height: 86px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.Top button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.TextBtn {
  width: 95px;
  height: 24px;
  background-color: #f7f8f8;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  border-radius: 19px;
  border: none;
}

.ImgBtn {
  width: 24px;
  height: 24px;
  background-color: #ffffff;
  border: none;
}

.Middle {
  width: 390px;
  flex: 1;
  display: inline-block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f7f8f8;
  position: relative;
}

.Frame {
  position: relative;
  width: 300px;
  height: 480px;
  object-fit: contain;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.Frame img {
  width: 100%;
  height: 100%;
  display: block;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin: 0 auto;
  position: absolute;
}

.UploadedImage {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.BaseFrame {
  position: absolute;
  z-index: 2;
}

.UploadedSticker {
  width: 5px;
  height: 5px;
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.BrushClass {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
}

/* .Frame span {
  width: 125px;
  height: 78px;
  background-color: #f5f5f5;
}

.Frame span:nth-child(1) {
  margin-top: 10px;
} */

.Return {
  width: 390px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  gap: 15px;
}

.Return button {
  background-color: #ffffff;
  border: none;
}

.Bottom {
  width: 100%;
  height: 270px;
}

.ListTop {
  height: 40px;
  padding: 14px 14px 14px 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 10px;
  font-weight: 400;
}

.ListBottom {
  width: 390px;
  height: 70px;
  background: #f7f8f8;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.ListBottom button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 10px;
  font-weight: 400;
  border: none;
  background-color: #f7f8f8;
}

.ListBottom button img {
  width: 24px;
  height: 24px;
}

.Brush {
  width: 650px;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  border-radius: 5px;
  align-items: center;
  background-color: #a3a3a32d;
  margin: auto;
  margin-top: 10px;
}
