.Bottom {
  width: 390px;
  height: 270px;
}

.ListTop {
  height: 40px;
  padding: 14px 14px 14px 18px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  font-weight: 400;
}

.ListTop button {
  background-color: #ffffff;
  border: none;
}

.ListView {
  width: 100%;
  height: 160px;
  padding: 15px 0px 15px 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 18px;
}

.FirstLine {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.FirstLine button {
  width: 72px;
  height: 60px;
  border-radius: 10px;
}

.FirstLine button:nth-child(1) {
  background: #ffc700;
}

.FirstLine button:nth-child(2) {
  background: #fffdba;
}

.FirstLine button:nth-child(3) {
  background: #ffde7d;
}

.FirstLine button:nth-child(4) {
  background: #f69401;
}

.SecondLine {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.SecondLine button {
  width: 72px;
  height: 60px;
  border-radius: 10px;
}

.SecondLine button:nth-child(1) {
  background: #8bd3ff;
}

.SecondLine button:nth-child(2) {
  background: #0066ff;
}

.SecondLine button:nth-child(3) {
  background: #009eff;
}

.SecondLine button:nth-child(4) {
  background: #f1ffad;
}

button {
  outline: none;
}

button:hover {
  outline: none;
  color: #009eff;
  font-weight: 600;
}
