.Bottom {
  width: 390px;
  height: 204px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ListTop {
  height: 20%;
  padding: 25px 14px 14px 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 10px;
  font-weight: 400;
}

.ListTop button {
  background-color: #ffffff;
  border: none;
}

.ListView {
  display: flex;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  height: 80%;
  padding: 15px 0px 15px 18px;
  flex-direction: row;
  gap: 18px;
}

.ListView::-webkit-scrollbar {
  width: 12px; /* 스크롤 바의 너비 */
  height: 12px; /* 스크롤 바의 높이 */
  display: none;
}

.ListView::-webkit-scrollbar-thumb {
  background-color: #888; /* 스크롤 바 색상 */
  border-radius: 6px; /* 스크롤 바 모서리 둥글기 */
}

.ListView::-webkit-scrollbar-track {
  background-color: #f5f5f5; /* 스크롤 바의 배경색 */
  border-radius: 6px; /* 스크롤 바 배경 모서리 둥글기 */
}

button {
  outline: none;
}

button:hover {
  outline: none;
  color: #009eff;
  font-weight: 600;
}
