.Bottom {
  width: 390px;
  height: 270px;
}

.ListTop {
  height: 40px;
  padding: 14px 14px 14px 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 10px;
  font-weight: 400;
}

.ListTop button {
  background-color: #ffffff;
  border: none;
}

.ListView {
  display: flex;
  height: 160px;
  padding: 15px 0px 15px 18px;
  flex-direction: row;
  gap: 6px;
}

.ListView button {
  background: #ffffff;
  border: none;
}

.ListView button img {
  width: 72px;
  height: 160px;
  display: block;
}

button {
  outline: none;
}
